.App {
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  padding-left: 80px;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-title {
  font-family: 'Permanent Marker', cursive;
  padding-left: 80px;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.point-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
} 

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; 
  
}


/* vertical spacing between columns */

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: gray;
  font-family: American Typewriter, serif;
}

nav {
  font-family: 'Permanent Marker', cursive;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: darkgray;
  list-style-type: none;
	margin: 0;
	padding: 0;
  text-align: center;
  border-bottom: double;
  opacity: 0.5;
} 

.library {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

.album_image {
  height: 200px;
  width: 200px;
}

.song {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

.song-lists {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: 'center';
}

.song-list {
  display: inline-block;
  margin: 20px;
  text-align: 'center';
}

.album-details {
  font-family: 'Permanent Marker', cursive;
  font-size: 150%;
}

#time-control {
  font-family: 'Permanent Marker', cursive;
  font-size: 100%;
} 

#volume-control {
  font-family: 'Permanent Marker', cursive;
  font-size: 100%;
}




