.App {
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  padding-left: 80px;
  background-image: -webkit-linear-gradient(black, gray 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.point-title {
  font-family: 'Permanent Marker', cursive;
} 



